/* Splash panel section */
.splash-panel-image {
  position: absolute;
  left: 50%;
  top: 45%;
}

.splash-panel-image.logo {
  margin-left: -165px;
  margin-top: -200px;
}

.splash-panel-image.subtitle {
  color: #808080;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  left: 0;
  letter-spacing: 7px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}