<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='main.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='global.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='splash.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='agenda.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='people.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='culture.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='mission.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='footer.css')}}>

        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.8.2/lodash.min.js"></script>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>